* {
    font-family: 'Times New Roman', Times, serif;
}
.container {
    align-items: center;
    margin: 0.5em;
}

.cart {
    padding-top: 80px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 3.6em;
}

.cart-header span{
    background-color: #5a3e27;
    color: #ffffffef;
    font-size: 1.2em;
}

.cart-row {
    display: flex;
    padding-top: 5px;
    border-bottom: 1px solid #5a3e27;
}

.cart-row:last-child .cart-col {
    border: none;
}

.cart-cocktail {
    min-width: 50%;
}

.cart-price {
    min-width: 25%;
}

.cart-quantity {
    min-width: 25%;
}

.cart-col {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1em;
    width: 40%;
    padding: 0em 0.8em;
}

.cocktail-img {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 30%;
}

.cocktail-name {
    font-size: 1.6em;
}

.cocktail-desc {
    font-size: 18px;
}

.btn-danger {
    margin: 5px;
    border-radius: 3px;
}

.item-price {
    font-size: 1.4em;
}

.item-quantity {
    height: 30px;
    width: 50px;
    border-radius: 8px;
    padding: 0;
    text-align: center;
    font-size: 1em;
}

.total, .total-price {
    font-size: 1.6em;
    font-weight: bold;
}

.check-out {
    font-size: 1.2em;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #5a3e27;
}